Source: scidavis
Section: math
Priority: optional
Maintainer: Burkhard Bunk <bunk@physik.hu-berlin.de>
Build-Depends: debhelper (>= 5),
	libgsl0-dev, zlib1g-dev, libqt4-dev, libglu1-mesa-dev,
	libstdc++6-4.1-dev, libc6-dev,
	python, python-dev, python-qt4, python-qt4-dev,
	sip4, python-sip4-dev
Standards-Version: 3.7.2

Package: scidavis
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends},
	python-qt4, python-sip4
Suggests: scidavis-doc
Description: SciDAVis - Scientific Data Analysis and Visualization
 SciDAVis is a user-friendly data analysis and visualization program 
 primarily aimed at high-quality plotting of scientific data. It 
 strives to combine an intuitive, easy-to-use graphical user interface 
 with powerful features such as Python scriptability.
