[submodule "3rdparty/qwt5-qt5"]
	path = 3rdparty/qwt5-qt5
	url = https://github.com/gbm19/qwt5-qt5.git
[submodule "3rdparty/qwtplot3d"]
	path = 3rdparty/qwtplot3d
	url = https://github.com/zohannn/qwtplot3d.git
