[Desktop Entry]
Comment=Data Analysis and Plots
Comment[en]=Data Analysis and Plots
Comment[de]=Datenanalyse und Plots
Exec=scidavis
Icon=scidavis-icon.png
Name=SciDAVis
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
